
{% extends "awakedesigns/header.html" %}
{% block content %}
<!-- Contact Information -->
      <div class="jumbotron">
        <h1>Contact Us Now!</h1>
        <p class="lead">Send Us A Message </p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Send</a></p>

      <!-- Example row of columns -->
        <form role="" class="">
		<input type="text" name="Name" placeholder="Your Name">
		<input type="text" name="Email" placeholder="Your Email Address">
		<input type="text" name="Subject" placeholder="Your Subjects">
		<input type="textarea" name="Message" placeholder="">
		</form>
      </div>
{%  include "awakedesigns/includes/htmlsnippets.html" %}
{% endblock %}
